body {
    width: 400px;
    color: #777;
    font-size: 1.1em;
    font-style: italic;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
}

blockquote {
    border-left: 15px solid #fdbc20;
    margin-left:inherit;
    padding-left: 25px;
}

#error-message {
    color: aliceblue;
    background: #fdbc20;
    padding: 10px !important;
    border-radius: 10px !important;
    position: relative;
    display: none;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;}